// Created by sam mok 2015(Siso brand interactive team).

/*======================================================================
      Global
  ======================================================================*/
* {
  padding: 0;
  margin: 0;
  outline: none;
}

html {
  height: 100%;
  font-family: "microsoft yahei", Arial, "Helvetica Neue", Helvetica, sans-serif;
}

body {
  height: 100%;
  overflow: hidden;
  margin: 0  auto;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

p, a, button, span {
  -webkit-font-smoothing: antialiased;
}

input {
  outline: none;
}

.pa { position: absolute; }

/* psd width `divided` 10 */
$page-base-rem : 75; /* 750/10=75 */

@mixin calWidth ($value) {
  width: $value*1rem / $page-base-rem;
}

@mixin calHeight ($value) {
  height: $value*1rem / $page-base-rem;
}

@mixin calTop ($value) {
  top: $value*1rem / $page-base-rem;
}

@mixin calBottom ($value) {
  bottom: $value*1rem / $page-base-rem;
}

@mixin calLeft ($value) {
  left: $value*1rem / $page-base-rem;
}

@mixin calRight ($value) {
  right: $value*1rem / $page-base-rem;
}


/* the class "content" is used for flexible plugin */
.content{
  display: block;
  min-width: 320px;
  margin: 0 auto;
  max-width: 750px;
}

/* swiper */
.swiper-container{
  position: relative;
  width: 100%;
  height: 100%;

}
.swiper-wrapper{
  position: relative;
  width: 100%;
  height: 100%;
}
.swiper-slide{
  height: 100%;
  font-size: 58px;
  background: #ff9900;
}

/* scene */
.scene {
  perspective: 3000;
  backface-visibility: hidden;
}

/* test code */
.scene {
  display : flex;

  aside {
    flex: 1 1 auto;
    /* 300px width in psd,
       750px width total,
       auto responsive using flexible.js,
       set total width in $page-base-rem
    */
    @include calWidth(300);
    background: pink;
  }

  main {
    flex: 1 1 auto;
    /* 450px width in psd,
       750px width total,
       auto responsive using flexible.js,
       set total width in $page-base-rem
    */
    @include calWidth(450);
    background: orange;
  }
}


/*======================================================================
      Responsive
  ======================================================================*/
@media screen and (max-width: 1215px) {

}
